body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 800px;
    justify-items: center;
    align-items: center;
    background-color: rgb(3, 143, 185);
    background: url(../images/soap.jpg);
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px; 
    grid-template-areas:
    "search search"
    "button button";

}

.searchdiv {
    justify-self: center;
    align-self: end;
    grid-area: search;

}

.btndiv {
    justify-self: center;
    align-self: center;
    grid-area: button;

}

input {
    width: 700px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 24pt;
    background-color: rgb(219, 255, 213); 

}

input::placeholder {
    opacity: 0.2;
    text-align: center;
}

input:focus {
    background-color:white;

}

input:focus::placeholder {
    color: transparent;
}

.btn {
    height: 50px;
    font-size: 18pt;
    font-family: Georgia, Verdana, sans-serif;
    border: 1px solid black;
}

